@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-black;
  }
}

.max-width {
  @apply mx-auto max-w-7xl px-4;
}

/* Typography */
p {
  font-size: 16;
  line-height: 28px;

  @apply mb-4 max-w-lg;
}

.md-viewer p {
  @apply max-w-none;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  @apply text-active;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 1.2%;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

h2 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 24px;
  line-height: 36px;
  letter-spacing: 0.75%;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 32px;
  letter-spacing: -0.6%;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
  line-height: 28px;
  letter-spacing: -0.5%;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 24px;
  letter-spacing: -0.3%;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
p:last-child {
  margin-bottom: 0;
}

p.small {
  font-size: 14px;
  line-height: 20px;
}

blockquote {
  margin-bottom: 16px;
  @apply border-grey-light max-w-lg border-l-2 border-solid pl-7;
  font-style: italic;
}

b {
  font-weight: 650;
}

blockquote {
  margin-top: 24px;
  border-left: 2px;
  border-style: solid;
  padding-left: 24px;
  font-style: italic;
}

ul {
  margin-top: 24px;
  margin-bottom: 24px;
  list-style-type: disc;
}

ol {
  margin-top: 24px;
  margin-bottom: 24px;
  list-style-type: decimal;
}

ul > li {
  margin-top: 8px;
}

li p {
  margin-bottom: 0px;
}

li ul {
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}
