@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-black;
  }
}

.max-width {
  @apply mx-auto max-w-7xl px-4;
}

a,
.prose a {
  @apply text-active no-underline;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
